@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
	:root {
		/* --font-sans: here if you have one */
		/* --font-mono: here if you got it... */

		/* prefixed with foreground because it should look good on the background */
		--foreground-destructive: 345 82.7% 40.8%;

		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--muted: 210 40% 93%;
		--muted-foreground: 215.4 16.3% 30%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--input-invalid: 0 84.2% 60.2%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 20% 83%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 90%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 70% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		/* prefixed with foreground because it should look good on the background */
		--foreground-destructive: -4 84% 60%;

		--muted: 217.2 32.6% 12%;
		--muted-foreground: 215 20.2% 65.1%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--input-invalid: 0 62.8% 30.6%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 20% 24%;
		--secondary-foreground: 210 40% 98%;

		--accent: 217.2 32.6% 10%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 60% 40%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 217.2 32.6% 60%;
	}
}

body {
	@apply bg-background text-text;
}

.font-serif {
	@apply font-black italic;
}

.scroll-hidden::-webkit-scrollbar {
	height: 0px;
	background: transparent;
}

.rich-text h3 {
	@apply mb-2 text-lg font-bold;
}

.rich-text p {
	@apply mb-4;
}

.rich-list p {
	display: inline;
	margin: 0;
}

.presentes-list__caption__first {
	@apply float-left mr-1 font-sans text-[60px] font-black leading-[56px] text-warm xl:mr-2 xl:text-[70px] xl:leading-[62px];
}

.g-grid {
	@apply flex flex-wrap justify-center text-left;
}

.g-grid .group {
	width: calc((100% - 16px) / 2);
	margin-left: 16px;
	margin-bottom: 32px;
}

.g-grid .group:nth-child(2n + 1) {
	margin-left: 0;
}

@screen md {
	.g-grid .group {
		width: calc((100% - 32px) / 3);
	}

	.g-grid .group:nth-child(2n + 1) {
		margin-left: 16px;
	}

	.g-grid .group:nth-child(3n + 1) {
		margin-left: 0;
	}
}
@screen lg {
	.g-grid .group {
		width: calc((100% - 48px) / 4);
	}

	.g-grid .group:nth-child(3n + 1) {
		margin-left: 16px;
	}

	.g-grid .group:nth-child(4n + 1) {
		margin-left: 0;
	}
}

.g-grid-h {
	@apply mt-2 block font-serif text-xl italic leading-6 text-text group-hover:text-contrast;
}

.g-grid-s {
	@apply mt-4 block text-base leading-tight;
}

.g-grid-a {
	@apply aspect-[4/3] overflow-hidden rounded-custom shadow-sm shadow-background-darker;
}

.g-grid-a-img {
	@apply w-full object-cover object-center;
}

.p-grid {
	@apply flex flex-wrap justify-center;
}

.p-grid-a {
	@apply mb-6 ml-6;
	width: calc((100% - 1.5rem) / 2);
}

.p-grid-a:nth-child(2n + 1) {
	margin-left: 0;
}

@screen sm {
	.p-grid-a {
		width: calc((100% - 3rem) / 3);
	}

	.p-grid-a:nth-child(2n + 1) {
		margin-left: 1.5rem;
	}

	.p-grid-a:nth-child(3n + 1) {
		margin-left: 0;
	}
}

@screen md {
	.p-grid-a {
		width: calc((100% - 4.5rem) / 4);
	}

	.p-grid-a:nth-child(3n + 1) {
		margin-left: 1.5rem;
	}

	.p-grid-a:nth-child(4n + 1) {
		margin-left: 0;
	}
}

.p-grid-a {
	@apply relative flex flex-col rounded-lg bg-white shadow-[0_3px_0_#005089] hover:shadow-[0_3px_0_#0094fe];
}

.p-grid-a-d {
	@apply aspect-[4/3] w-full grow-0 overflow-hidden rounded-t-lg;
}
.p-grid-a-d-img {
	@apply h-full w-full object-cover object-center transition-transform;
}

.p-grid-a-d2 {
	@apply flex grow flex-col justify-between p-2 pb-1 pt-4;
}

.p-grid-a-d2-h {
	@apply mb-4 text-sm font-bold leading-tight group-hover:text-cold;
}

.p-grid-a-d2-h-s {
	@apply font-serif text-warmer;
}

.p-grid-a-d2-h-a {
	@apply text-xs font-light text-text-light;
}

.cl-grid {
	@apply grid grid-cols-2 gap-8 px-4;
}
.cl-grid-li {
	@apply relative mx-auto flex w-full max-w-sm flex-col items-center justify-center;
}
.cl-grid-li-i {
	@apply h-12 w-12 fill-background;
}
.cl-grid-li-h {
	@apply text-base font-bold uppercase text-background;
}

.nv {
	@apply relative mx-auto max-w-7xl items-center justify-center p-2 lg:p-8;
}

@screen lg {
	.nv-d {
		@apply absolute left-8 top-1/2 z-10 -translate-y-1/2;
	}
}

.nv-l {
	@apply font-serif text-sm uppercase leading-6 hover:text-warmer;
}

@screen md {
	.nv-l {
		@apply my-0;
	}
}

.absi-0 {
	@apply absolute inset-0;
}

/* Static categories grid Component */

.s-c-grid {
	@apply grid grid-cols-2 gap-8 px-4 pb-20 md:grid-cols-3;
}

@screen md {
	.s-c-grid {
		@apply grid-cols-3;
	}
}

.s-c-grid-li {
	@apply relative mx-auto flex w-full max-w-sm flex-col items-center justify-center;
}

.s-c-grid-li-div {
	@apply relative mx-4 overflow-hidden rounded-2xl shadow;
}

.s-c-grid-li-div-img {
	@apply aspect-1 w-full object-cover opacity-90 transition group-hover:scale-105 group-hover:opacity-100;
}

.s-c-grid-li-div2 {
	@apply z-10 -mt-4 w-full overflow-hidden bg-white shadow-[6px_6px_0px_#212121] transition group-hover:bg-contrast group-hover:shadow-[8px_8px_0px_#212121];
}

.s-c-grid-li-div2-h3 {
	@apply block py-2 text-center text-xl font-black uppercase text-colder group-hover:text-white;
}

@screen lg {
	.s-c-grid-li-div2-h3 {
		@apply text-3xl;
	}
}

/* Guias Carrosel Component */

.g-c {
	@apply scroll-hidden flex snap-x snap-mandatory overflow-x-auto pb-2;
}

.g-c-div {
	@apply w-7/12 flex-shrink-0 snap-center pr-4;
}

@screen xs {
	.g-c-div {
		@apply w-8/12;
	}
}

@screen lg {
	.g-c-div {
		@apply w-11/12 pr-8;
	}
}

.g-c-div-lk {
	@apply flex h-full flex-col rounded-sm bg-white shadow-[4px_4px_#0067ca];
}

@screen sm {
	.g-c-div-lk {
		@apply flex-row;
	}
}

.g-c-div-img {
	@apply aspect-[4/3] w-full;
}

@screen sm {
	.g-c-div-img {
		@apply h-auto w-2/5;
	}
}

@screen lg {
	.g-c-div-img {
		@apply w-1/3;
	}
}

.g-c-div-div {
	@apply flex items-center px-4 py-2;
}

@screen sm {
	.g-c-div-div {
		@apply w-3/5;
	}
}

@screen md {
	.g-c-div-div {
		@apply w-2/3;
	}
}

@screen lg {
	.g-c-div-div {
		@apply px-8;
	}
}
.g-c-div-div-h3 {
	@apply text-sm leading-tight hover:text-colder;
}

@screen md {
	.g-c-div-div-h3 {
		@apply text-lg;
	}
}

@screen lg {
	.g-c-div-div-h3 {
		@apply text-2xl;
	}
}

.g-c-div-div-p {
	@apply mt-1 hidden text-sm leading-snug;
}

@screen sm {
	.g-c-div-div-p {
		@apply block;
	}
}

@screen md {
	.g-c-div-div-p {
		@apply hidden;
	}
}

@screen lg {
	.g-c-div-div-p {
		@apply block;
		@apply mt-4 text-base;
	}
}

/* Featured Promotions 3 Component */

.f-p-3 {
	@apply mx-auto grid max-w-md grid-cols-1 gap-y-6 px-4;
}

@screen sm {
	.f-p-3 {
		@apply max-w-7xl grid-cols-3 gap-x-6 gap-y-0 px-6;
	}
}
@screen lg {
	.f-p-3 {
		@apply gap-x-8 px-8;
	}
}

.f-p-3-a {
	@apply relative flex flex-col justify-end rounded-lg bg-white shadow-lg;
}

.f-p-3-a-d1 {
	@apply flex grow flex-col px-4 pb-2 pt-2;
}

.f-p-3-a-d2-e {
	@apply h-8 w-auto fill-warm drop-shadow-[3px_3px_0px_rgba(255,255,255,1)];
}

.f-p-3-a-d3 {
	@apply -mt-[1px] flex grow-0 items-center justify-between rounded-b-lg bg-colder px-4 py-2 font-serif text-white;
}

.btn-large {
	@apply inline-flex items-center gap-x-2 rounded-custom px-10 py-5 transition duration-200;
}

.btn-medium {
	@apply rounded-custom px-4 py-2 transition duration-200;
}

.btn-vermais {
	@apply text-2xl font-black uppercase;
	@screen md {
		@apply text-4xl;
	}
}
.btn-lermais {
	@apply px-12 text-2xl font-black uppercase;

	@screen md {
		@apply text-xl;
	}
}

.heading-large {
	@apply py-16 text-center font-serif text-4xl;
	@screen md {
		@apply text-5xl;
	}
}

.heading-medium {
	@apply py-12 text-center font-serif text-3xl;
}

.heading-small {
	@apply py-2 font-serif text-xl font-light;
}

.heading-shadow {
	text-shadow:
		-1px -1px 0px #fcf7f4,
		2px 2px 0px #fcf7f4,
		4px 4px 0px #ff4314;
}

@screen md {
	.btn-vermais {
		@apply text-3xl;
	}
	.btn-lermais {
		@apply text-lg;
	}

	.heading-large {
		@apply text-5xl;
	}
}

.pn {
	@apply flex items-center justify-between;
}

.pn-l-m {
	@apply inline-flex items-center rounded-md border bg-white px-4 py-2 text-sm font-black uppercase hover:text-white;
}

.pn-l {
	@apply inline-flex items-center bg-white px-6 py-4 font-black ring-1 ring-inset hover:text-white focus:z-10 focus:outline-offset-0;
}
.pn-s {
	@apply pointer-events-none inline-flex items-center px-6 py-4 font-black text-white ring-1 ring-inset focus:z-10 focus:outline-offset-0;
}

.p-separator {
	@apply relative block h-0.5 w-full overflow-hidden;
}

.p-separator-break {
	@apply absolute -left-[8%] -right-[8%] block h-0.5 before:content-[""] after:content-[""];
}

.p-separator-break::after {
	@apply absolute left-0 top-0 block h-px w-full bg-gradient-to-r from-background via-background-darker;
}
.p-separator-break::before {
	@apply absolute bottom-0 left-0 block h-px w-full bg-gradient-to-r from-background via-background-lighter;
}

.a-grid {
	@apply flex flex-wrap justify-center text-left;
}

.a-grid .group {
	width: calc((100% - 16px) / 2);
	margin-left: 16px;
	margin-bottom: 32px;
}

.a-grid .group:nth-child(2n + 1) {
	margin-left: 0;
}

@screen md {
	.a-grid .group {
		width: calc((100% - 32px) / 3);
	}

	.a-grid .group:nth-child(2n + 1) {
		margin-left: 16px;
	}

	.a-grid .group:nth-child(3n + 1) {
		margin-left: 0;
	}
}
@screen lg {
	.a-grid .group {
		width: calc((100% - 48px) / 4);
	}

	.a-grid .group:nth-child(3n + 1) {
		margin-left: 16px;
	}

	.a-grid .group:nth-child(4n + 1) {
		margin-left: 0;
	}
}

.a-grid-h {
	@apply block px-6 py-8 font-serif text-xl italic group-hover:text-contrast;
}

.a-grid-s {
	@apply mt-4 block text-base leading-tight;
}

.a-grid-a {
	@apply aspect-[4/3] overflow-hidden;
}

.a-grid-a-img {
	@apply w-full object-cover object-center;
}

.yt-lite {
	background-color: #000;
	position: relative;
	display: block;
	contain: content;
	background-position: 50%;
	background-size: cover;
	cursor: pointer;
}

.yt-lite.lyt-activated::before {
	content: '';
	box-sizing: content-box;
	display: block;
	position: absolute;
	top: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
	background-position: top;
	background-repeat: repeat-x;
	height: 60px;
	padding-bottom: 50px;
	width: 100%;
	transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite::after {
	content: '';
	display: block;
	padding-bottom: var(--aspect-ratio);
}
.yt-lite > iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.yt-lite > .lty-playbtn {
	width: 70px;
	height: 46px;
	background-color: #212121;
	z-index: 1;
	opacity: 0.8;
	border-radius: 14%;
	transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
	background-color: red;
	opacity: 1;
}
.yt-lite > .lty-playbtn::before {
	content: '';
	border-color: transparent transparent transparent #fff;
	border-style: solid;
	border-width: 11px 0 11px 19px;
}
.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}
.yt-lite.lyt-activated {
	cursor: unset;
}
.yt-lite.lyt-activated::before,
.yt-lite.lyt-activated > .lty-playbtn {
	opacity: 0;
	pointer-events: none;
}
